fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
celery
redis
httpx
python-multipart
sqlalchemy
alembic
psycopg2-binary
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
openai
pymupdf
minio
